<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/Estudo de caso 1.pdf" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/primeiro.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                App para comprar Ebooks e ler 
                            </div>
                            <div class="project-name">
                                Estudo de caso 1
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/Estudo de caso 2.pdf" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/segundo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                App para comprar e realizar os cursos online
                                em Game Design
                            </div>
                            <div class="project-name">
                                Estudo de caso 2
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/Google UX Design Certificate - Portfolio Project 3.pdf" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/terceiro.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                App para adotar PETs 
                            </div>
                            <div class="project-name">
                                Estudo de caso 3
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

